<a href="https://colab.research.google.com/github/SultanAlhassan2030/DataScience-Resources/blob/main/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
uploaded = files.upload()
import io
df = pd.read_excel(io.BytesIO(uploaded['SA-COVID19v1.xlsx']))
df
print (df)

Saving SA-COVID19v1.xlsx to SA-COVID19v1.xlsx
      Daily / Cumulative     Indicator       Date                   Event  \
0                  Daily         Cases 2020-03-02  First case of COVID-19
1                  Daily         Cases 2020-03-04        Umrah suspension
2                  Daily         Cases 2020-03-07                     NaN
3                  Daily         Cases 2020-03-08                     NaN
4                  Daily         Cases 2020-03-10                     NaN
...                  ...           ...        ...                     ...
30868         Cumulative  Active cases 2020-05-13                     NaN
30869         Cumulative  Active cases 2020-05-13                     NaN
30870         Cumulative  Active cases 2020-05-13                     NaN
30871         Cumulative  Active cases 2020-05-13                     NaN
30872         Cumulative  Active cases 2020-05-13                     NaN

                 region                        City Cases
0        Eastern Region                       Qatif     1
1        Eastern Region                       Qatif     1
2        Eastern Region                       Qatif     2
3                 Total                       Total     4
4        Eastern Region                      Dammam     4
...                 ...                         ...   ...
30868  Northern Borders             Hazm Al Jalamid    18
30869           Al Jouf  Al Hadithah Border Station     5
30870             Jazan                   Al Aydabi     1
30871             Tabuk                       Umluj    26
30872    Eastern Region                       Bqeeq    41

[30873 rows x 7 columns]

In [3]:
 # معرفة نوع البيانات
df.dtypes

Daily / Cumulative            object
Indicator                     object
Date                  datetime64[ns]
Event                         object
region                        object
City                          object
Cases                         object
dtype: object

In [4]:
#احصائيات
df.describe(include="all")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

,Daily / Cumulative,Indicator,Date,Event,region,City,Cases
count,30873,30873,30873,1144,30867,30867,30867.0
unique,2,5,104,14,14,188,2156.0
top,Cumulative,Cases,2020-06-13 00:00:00,Partial lifting of curfew in all cities except...,Eastern Region,Total,1.0
freq,24440,12534,772,273,5455,713,6337.0
first,NaN,NaN,2020-03-02 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,2020-06-13 00:00:00,NaN,NaN,NaN,NaN

In [5]:
#التاكد من عدم وجود بيانات مفقودة
df.isnull().sum()

Daily / Cumulative        0
Indicator                 0
Date                      0
Event                 29729
region                    6
City                      6
Cases                     6
dtype: int64

In [6]:
# حذف الاعمدة الغير مرغوب بها
DataCovrage = df 
# Only Cover Daily Cases from row:2 To row:1275
DataCovrage = DataCovrage.loc[1:1274]
DataCovrage.shape
DataCovrage

,Daily / Cumulative,Indicator,Date,Event,region,City,Cases
1,Daily,Cases,2020-03-04,Umrah suspension,Eastern Region,Qatif,1
2,Daily,Cases,2020-03-07,NaN,Eastern Region,Qatif,2
3,Daily,Cases,2020-03-08,NaN,Total,Total,4
4,Daily,Cases,2020-03-10,NaN,Eastern Region,Dammam,4
5,Daily,Cases,2020-03-12,NaN,Mecca,Mecca,21
...,...,...,...,...,...,...,...
1270,Daily,Mortalities,2020-06-13,NaN,Total,Total,40
1271,Daily,Mortalities,2020-06-13,NaN,Jazan,Sabya,1
1272,Daily,Mortalities,2020-06-13,NaN,Riyadh,Huraymila,1
1273,Daily,Mortalities,2020-06-13,NaN,Jazan,Baish,1
1274,Cumulative,Active cases,2020-03-02,First case of COVID-19,Eastern Region,Qatif,1

In [7]:
# drorp Unecessary record ('Total') حذف كلمة  الاجمالي من المحافظة وحفظ المشروع
InexTotal = DataCovrage[(DataCovrage['region'] == 'Total')].index
DataCovrage.drop(InexTotal, inplace=True)
#changing the DataFrame name from "DataCovrage" into "df2"
df2 = DataCovrage
df2

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Daily / Cumulative,Indicator,Date,Event,region,City,Cases
1,Daily,Cases,2020-03-04,Umrah suspension,Eastern Region,Qatif,1
2,Daily,Cases,2020-03-07,NaN,Eastern Region,Qatif,2
4,Daily,Cases,2020-03-10,NaN,Eastern Region,Dammam,4
5,Daily,Cases,2020-03-12,NaN,Mecca,Mecca,21
6,Daily,Cases,2020-03-13,NaN,Mecca,Mecca,26
...,...,...,...,...,...,...,...
1269,Daily,Mortalities,2020-06-13,NaN,Riyadh,Riyadh,4
1271,Daily,Mortalities,2020-06-13,NaN,Jazan,Sabya,1
1272,Daily,Mortalities,2020-06-13,NaN,Riyadh,Huraymila,1
1273,Daily,Mortalities,2020-06-13,NaN,Jazan,Baish,1
1274,Cumulative,Active cases,2020-03-02,First case of COVID-19,Eastern Region,Qatif,1

In [8]:
#######  ['Daily / Cumulative','Event']حذف اعمدة 
#drop Attributes ['Daily / Cumulative','Event']
df3 =df2.drop(['Daily / Cumulative','Event'],axis=1)
df3
#check All missing values in dataset

         Indicator       Date          region       City Cases
1            Cases 2020-03-04  Eastern Region      Qatif     1
2            Cases 2020-03-07  Eastern Region      Qatif     2
4            Cases 2020-03-10  Eastern Region     Dammam     4
5            Cases 2020-03-12           Mecca      Mecca    21
6            Cases 2020-03-13           Mecca      Mecca    26
...            ...        ...             ...        ...   ...
1269   Mortalities 2020-06-13          Riyadh     Riyadh     4
1271   Mortalities 2020-06-13           Jazan      Sabya     1
1272   Mortalities 2020-06-13          Riyadh  Huraymila     1
1273   Mortalities 2020-06-13           Jazan      Baish     1
1274  Active cases 2020-03-02  Eastern Region      Qatif     1

[1224 rows x 5 columns]

In [9]:
df3

         Indicator       Date          region       City Cases
1            Cases 2020-03-04  Eastern Region      Qatif     1
2            Cases 2020-03-07  Eastern Region      Qatif     2
4            Cases 2020-03-10  Eastern Region     Dammam     4
5            Cases 2020-03-12           Mecca      Mecca    21
6            Cases 2020-03-13           Mecca      Mecca    26
...            ...        ...             ...        ...   ...
1269   Mortalities 2020-06-13          Riyadh     Riyadh     4
1271   Mortalities 2020-06-13           Jazan      Sabya     1
1272   Mortalities 2020-06-13          Riyadh  Huraymila     1
1273   Mortalities 2020-06-13           Jazan      Baish     1
1274  Active cases 2020-03-02  Eastern Region      Qatif     1

[1224 rows x 5 columns]

In [10]:
###البحث عن البيانات المفقودة 
df3.isnull().sum()

Indicator    0
Date         0
region       0
City         0
Cases        0
dtype: int64

In [ ]:
## Data Binning

In [11]:
######  Indicator&Cases احصاء وصفي لعمود 
####تحويل نوع بيانات الحالات من نص الى رقم 
df3 = df3.replace('?', np.nan)
df3['Cases'] = df3['Cases'].fillna(0)
df3['Cases'] = df3['Cases'].astype('int64')
df3.dtypes
#### احصاء وصفي
df3.groupby('Indicator')['Cases'].describe()

              count       mean         std  min  25%  50%   75%     max
Indicator
Active cases    1.0   1.000000         NaN  1.0  1.0  1.0   1.0     1.0
Cases         687.0  36.058224  108.431298  0.0  1.0  4.0  15.0  1431.0
Mortalities    69.0   2.942029    3.338210  1.0  1.0  2.0   3.0    17.0
Recoveries    467.0  37.912206  122.901417  1.0  1.0  3.0  15.0  1499.0

In [12]:
##### عمل مجوعات للاعمدة التالية )(cases,region,indecator)
df3.groupby(['Indicator','region'])['Cases'].describe()

                               count        mean         std  min  25%   50%  \
Indicator    region
Active cases Eastern Region      1.0    1.000000         NaN  1.0  1.0   1.0
Cases        Al Bahah           19.0    2.526316    1.982379  0.0  1.0   2.0
             Al Jouf             9.0    1.888889    1.964971  1.0  1.0   1.0
             Asir               76.0    4.578947    4.964576  0.0  1.0   2.0
             Eastern Region    150.0   35.733333   55.467224  0.0  3.0   8.5
             Hail               11.0   12.181818   16.240802  1.0  1.5   4.0
             Jazan              44.0   10.318182   21.693181  1.0  2.0   2.0
             Mecca             111.0   74.648649  127.238691  0.0  1.5  10.0
             Medina             39.0   46.307692   83.762557  0.0  1.0   8.0
             Najran             18.0    4.777778    4.893640  1.0  2.0   3.5
             Northern Borders   11.0    4.363636    4.738623  1.0  1.5   3.0
             Qassim             46.0    8.586957   21.856681  1.0  1.0   2.0
             Riyadh            134.0   57.007463  195.075674  1.0  1.0   3.0
             Tabuk              19.0    7.947368   11.102921  1.0  1.5   3.0
Mortalities  Asir                1.0    2.000000         NaN  2.0  2.0   2.0
             Eastern Region      8.0    1.375000    0.517549  1.0  1.0   1.0
             Jazan               3.0    1.000000    0.000000  1.0  1.0   1.0
             Mecca              36.0    3.805556    3.793374  1.0  1.0   2.5
             Medina              6.0    2.166667    1.329160  1.0  1.0   2.0
             Northern Borders    2.0    1.000000    0.000000  1.0  1.0   1.0
             Qassim              2.0    1.000000    0.000000  1.0  1.0   1.0
             Riyadh             10.0    3.100000    4.280446  1.0  1.0   2.0
             Tabuk               1.0    2.000000         NaN  2.0  2.0   2.0
Recoveries   Al Bahah           15.0    2.466667    1.684665  1.0  1.0   2.0
             Al Jouf             7.0    1.714286    0.755929  1.0  1.0   2.0
             Asir               50.0    4.300000    7.211810  1.0  1.0   2.0
             Eastern Region    123.0   31.056911   65.024497  1.0  3.0   6.0
             Hail               10.0    9.600000    8.694826  2.0  4.0   6.5
             Jazan              27.0    8.777778   18.504331  1.0  1.0   2.0
             Mecca              77.0   65.649351  146.326578  1.0  1.0   3.0
             Medina             29.0  147.241379  318.412878  1.0  2.0   7.0
             Najran             10.0    3.600000    3.502380  1.0  2.0   2.5
             Northern Borders   11.0    2.909091    1.921174  1.0  2.0   3.0
             Qassim             20.0    9.350000   18.542341  1.0  1.0   2.0
             Riyadh             69.0   48.550725  145.496769  1.0  1.0   3.0
             Tabuk              19.0   18.842105   28.992840  1.0  1.5   5.0

                                  75%     max
Indicator    region
Active cases Eastern Region      1.00     1.0
Cases        Al Bahah            4.00     6.0
             Al Jouf             2.00     7.0
             Asir                6.00    20.0
             Eastern Region     44.75   290.0
             Hail               14.00    45.0
             Jazan               9.25   126.0
             Mecca              65.00   577.0
             Medina             28.50   392.0
             Najran              5.00    21.0
             Northern Borders    5.00    17.0
             Qassim              6.75   144.0
             Riyadh              6.75  1431.0
             Tabuk              10.50    45.0
Mortalities  Asir                2.00     2.0
             Eastern Region      2.00     2.0
             Jazan               1.00     1.0
             Mecca               4.00    17.0
             Medina              3.00     4.0
             Northern Borders    1.00     1.0
             Qassim              1.00     1.0
             Riyadh              2.00    15.0
             Tabuk               2.00     2.0
Recoveries   Al Bahah            3.00     6.0
             Al Jouf             2.00     3.0
             Asir                3.00    41.0
             Eastern Region     26.00   490.0
             Hail               11.25    26.0
             Jazan              10.50    97.0
             Mecca              22.00   700.0
             Medina            163.00  1499.0
             Najran              4.00    13.0
             Northern Borders    3.00     8.0
             Qassim              6.25    78.0
             Riyadh             17.00   878.0
             Tabuk              19.50    96.0

In [37]:
######تصوير البيانات
####df3.set_index('region',inplace= True)
df3
#df3.loc['Indicator'='cases','cases'].plot(kind="line")
#plt.show()

                   Indicator       Date       City  Cases
region
Eastern Region         Cases 2020-03-04      Qatif      1
Eastern Region         Cases 2020-03-07      Qatif      2
Eastern Region         Cases 2020-03-10     Dammam      4
Mecca                  Cases 2020-03-12      Mecca     21
Mecca                  Cases 2020-03-13      Mecca     26
...                      ...        ...        ...    ...
Riyadh           Mortalities 2020-06-13     Riyadh      4
Jazan            Mortalities 2020-06-13      Sabya      1
Riyadh           Mortalities 2020-06-13  Huraymila      1
Jazan            Mortalities 2020-06-13      Baish      1
Eastern Region  Active cases 2020-03-02      Qatif      1

[1224 rows x 4 columns]